*.o 
*.d 
*.crf 
*.axf 
*.bin 
*.hex 
*.htm 
*.lnp 
*.sct 
*.dep 
*.build_log.htm 
*.map 
*.lst 
*.uvoptx 
*.uvguix.* 
*.uvgui.* 
*.saved_uv4 
JLinkLog.txt 
MDK-ARM/*.bak 
MDK-ARM/*.dep 
MDK-ARM/DebugConfig/ 
MDK-ARM/RTE/ 
MDK-ARM/Listings/ 
MDK-ARM/Objects/ 
.DS_Store 
Thumbs.db 
.vscode/ 
